<div ng-controller="YomuLabsCtrl" ng-init="redirect_user_to_refer_your_friends();">

  <%= render "partials/header" %>

  <!-- Why Yomu Lab -->
  <%= render "partials/why_yomu_lab" %>
  <!-- End - Why Yomu Lab -->

  <!-- Featured On -->
  <%= render "partials/yomu_lab_methodology" %>
  <!-- End - Featured On -->

  <!-- Video Tour -->
  <%= render "partials/yomu_lab_video_tour" %>
  <!-- End - Video Tour -->

  <!-- Testimonials -->
  <%= render "partials/yomu_lab_testimonials" %>
  <!-- End - Testimonials -->

  <!-- Pricing -->
  <%= render "partials/yomu_lab_pricing" %>
  <!-- End - Pricing -->

  <!-- Signup for Yomu Lab Today -->
  <%= render "partials/yomu_lab_sign_up_today" %>
  <!-- End - Signup for Yomu Lab Today -->

  <!-- Contact Us -->
  <%= render "partials/yomu_lab_contact_us" %>
  <!-- End - Contact Us -->

  <!-- Footer -->
  <%= render "partials/yomu_lab_footer" %>
  <!-- End - Footer -->

</div>